.rightbar{
    top:70px;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 25vw;
    height: 100%;

}
@media screen and (max-width: 768px) {
    .rightbar{
      display: none;
    }
    .show{
        top: 110px;
        left: 0;
    }

}