.feed{
    display: flex;
    justify-content: center;
}

.overlay {
    display: none;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    filter: blur(1px);
  }
  .overlay.active {
    display: block;
    z-index: 1;
  }

.feed-wrapper{
    width: 45vw;
    height:500px;
}

@media screen and (max-width: 768px){
    .feed{
        justify-content: flex-end;
        height:calc(100vh - 110px) ; 
    }
    .feed-wrapper{
        padding: 0;
        width: 70vw;
    }
}